@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
html {
    overflow:   scroll;
  }
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: #bbbbbb;  
}
header{
    width: 100%;
    height: 90px;
    background: #F8F8F8;
    display: flex;
    justify-content: space-around;
    align-items: center; 
}
.Logo{
    color: rgb(44, 44, 44);
    font-size: 1.5em;
    line-height: 50px;
}
.nav{
    display: flex;
    align-items: center;
}
.nav ol{
    display: flex;
    list-style: none;
}
.btn{
    position: relative;
    width: 25px;
    height: 25px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    display: none;
}
.btn::before{
    content: '\f0c9';
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Font Awsome 5 Free';
    font-weight: 700;
    font-size: 2em;
}
.nav ol li{ margin: 0.4em;}
.nav ol li a{
    text-decoration: none;
    padding: 0,2em 1.2em 0.9em 1.2em;
    border-radius: 10px 10px 0 0;
    color: rgb(39, 39, 39);
    transition: all .4s;
    position: relative;
    z-index: 1;
}
.nav ol li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 21px;
    border-radius: 10px 10px 0 0;
    background: #853333;
    transform-origin: bottom;
    background: linear-gradient(to right, 
    #2C5364, #203A43, #173542);
    transform: scaleY(0.05);
    z-index: -1;
    transition: all .4s;
}
.nav ol li a:hover::before{ transform: scaleY(1.1); }
.nav ol li a:hover{ color: white; }

@media (min-width: 1536px) and (max-width: 1200px) {
    .btn{
        display: flex;
        z-index: 100;
    }
    header{
        justify-content: space-between;
        padding: 0 3em;
    }
    .nav{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        background: #F8F8F8;
        transform: translateY(0%);
        transition: all .4s;
    }
    input:checked::before{
        content: '\f00d';
    }
}
@media (max-width: 700px) {
    .nav ol{
        flex-direction: column;
        text-align: center;
    }
}

.Test{
    text-align: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    font-style: #000000;
    font-size: 20px;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 20px 0;
    margin-top: 40em;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.Copyright{
    text-align: center;
}
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#cloud {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 80px;
  content: '';
  opacity: 1;
  position: relative;
  bottom: 400px;
  right: 780px;
  color: #000000;
}